@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .skill {
    @apply bg-slate-400 h-10 rounded py-2 px-6 m-2;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(228, 228, 228);
  background-color: rgb(206, 206, 206);
}
